/*.clearfix:after*/
html,body{
    height:100%;
    /*overflow: hidden;*/
}
nav{
    background: #ccc;
    height:50px;
    position: fixed;
    width:100%;
}
#banner{

    height:700px;
}
nav ul{
    list-style: none;
    margin: 0;
    float: right;
}
nav .logo a:hover span{
    color: red;
}
nav ul li,nav .logo{
    display: inline-block;
    line-height: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
nav ul li a,nav .logo a{
    text-decoration: none;
    display: inline-block;
    height:inherit;
    color: #fff;
}
.line{
    background: #000;
    width:100%;
    height: 2px;
}
.inner p{
    margin: 40px 0;
    color: #ffffff;
    background-color: rgba(0,0,0,0.20);
    font-size: 22px;
}


#banner .inner{
    max-width: 300px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: 200px;
}
#banner .inner h1{
    margin: 20px;
    background-color: rgba(0,0,0,0.20);
    color: #ffffff;
}
button{
    border:none;
    background: #333;
    color: #eee;
    padding: 10px 30px;
    position: relative;
    top: 40px;
}

.logo{
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
}
.logo a {
    color: #fff;
}
.green-section{
    background: #089db0;
    color: #fff;
    text-align: center;
    padding:100px
}
.green-section .hr{
    background: #eeeeee;
    width:60%;
}
.wrapper{
    margin:0 auto;
    max-width: 1080px;
}
.hr{
    width:100%;
    height:2px;
    margin:20px auto;
}
.sub-heading{
    line-height: 50px;
}
.green-section .icon-group .icon{
    display: inline-block;
    width:80px;
    height:80px;
    border: 1px solid #0d6f7c;
    transform: rotate(45deg);
    margin: 20px;
}
.icon-group{
    margin-top: 20px;
}
.gray-section{
    background: #252f34;
    color: #fff;
}
.gray-section .img-section {
    width: 45%;
}
.img-section img{
    width:100%;
}
.gray-section .text-section{
    width:55%;
}
.article-preview > div{
    float: left;

}
.article-preview:after{
    content: '';
    display: block;
    clear: both;
}
.text-section{
    position: relative;
    top:68px;
    left: 50px;
}

.text-section h2{
    margin-bottom: 20px;
}
.text-section p{
    font-size:18px;
    margin-bottom: 20px;
    letter-spacing:1px;
}
.text-section .sub-heading{
    font-size: 22px;
    margin-top: 0;
    margin-bottom: 10px;
}
.text-section > * {
    max-width:90%;
}
.article-preview:nth-child(odd)
{
    background-color: rgba(255,255,255,0.05);
}
.purple-section{
    height: 1070px;
    padding:80px;
    background: #3f3965;
    color: #ffffff;
}
.purple-section .heading-wrapper{
    text-align: center;
}
.purple-section .hr{
    background-color: #373259;
    width:60%;
}
h2，{

    margin:0;
}
.card{
    float: left;
    width:50%;
    min-height:300px;
    padding:50px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    /*border:1px solid;*/
}
.card:first-child{
    background:rgba(0,0,0,0.05);
}
.card:nth-child(2){
    background:rgba(0,0,0,0.09);
}
.card:nth-child(3){
    background:rgba(0,0,0,0.13);
}
.card:nth-child(4){
    background:rgba(0,0,0,0.20);
}
.card:nth-child(5){
    background:rgba(0,0,0,0.25);
}
.card:nth-child(6){
    background:rgba(0,0,0,0.30);
}
footer{
    background: #333;
    color: #ffffff;
    min-height: 200px;
    text-align: center;
}
ul.share-group{
    display: block;
    margin: 0 auto;
    width:1080px;
    padding:50px;
}
.share-group li{
    display: inline-block;
    padding: 10px;
}
.copy{
    padding-bottom: 20px;
}
.main-wrapper{
    background: #444 url(../img/banner.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
